### 행정구역 정보 분석하기
1. read_csv() 함수로 csv file을 읽어서 pandas의 DataFrame 객체로 생성하기
2. Data Selection : loc[] / iloc[] 를 사용해서 특정 Row와 Column 선택하기
3. 컬럼명 변경하기
4. DataFrame 객체를 Excel file로 저장하기
5. Data Grouping : groupby() 함수를 사용해서 그룹핑하기
6. 상관관계 분석 : corr() 함수를 사용해서 인구수와 면적간의 상관관계 
7. 시각화 : seaborn의 함수들을 사용해서 Plot 그리기

In [4]:
import pandas as pd
print(pd.__version__)

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
# 행과 열
print(data.shape)

1.5.3
<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [7]:
data.head(3) #default=5

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [8]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [11]:
data.sample(3)

     Unnamed: 0     인구수 shortName  x   y      면적   광역시도 행정구역
136         136  364232      서울마포  5   4   23.87  서울특별시  마포구
224         224  127462        제천  8  10  882.47   충청북도  제천시
213         213   76757        예산  3  10  543.10   충청남도  예산군